* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --btn-primary: gold;
    --btn-secondary: rgb(56, 155, 69);
}

html {
    font-family: monospace;
    font-size: 150%;
}

body {
    background: rgb(150, 209, 150);
}

.container {
    width: 70vw;
    margin: 2rem auto;
    background: white;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.btn {
    background: gold;
    color: black;
    padding: .4rem 1rem;
    border: 1px solid rgba(128, 128, 128, 0.26);
    border: none;
    border-radius: 1rem;
    font-weight: bolder;
    cursor: pointer;
}

.btn-nav {
    background: var(--btn-secondary);
    color: white;
    padding: .2rem 1rem;
    border: 1px solid rgba(128, 128, 128, 0.26);
    border: none;
    border-radius: 1rem;
    font-weight: bolder;
    cursor: pointer;
    font-size: 1rem;
}

nav {
    background-color: var(--btn-secondary);
}

.active {
    border-bottom: 1px solid white;
}

nav > ul {
    height: 5rem;
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
}

.nav-link {
    color: white;
}

main {
    padding: 2rem;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.product-item {
    background: rgba(128, 128, 128, 0.075);
    padding: .5rem;
    border: 1px solid rgba(128, 128, 128, 0.26);
}

.product-image {
    width: 100%;
    height: 15rem;
    object-fit: cover;
}

.product-none {
    margin-top: 2rem;
    background: rgba(255, 68, 0, 0.123);
    color: black;
    text-align: center;
    padding: 3rem;
    font-size: 3rem;
}

/* BLOG  */

.blog-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-title {
    text-align: center;
}

.form {
    width: 50%;
    margin: 2rem auto;
}

.form-input {
    width: 100%;
    padding: .5rem;
    border: 1px solid var(--btn-primary);
    border-radius: 5px;
    margin-bottom: 1rem;
    outline: none;
    font-size: 1.2rem;
    resize: vertical;
}


/* BLOG  */
.blog-lists {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


@media(max-width: 992px) {
   .container {
       width: 90vw;
   }
}